.login-wrapper {
    background-color: rgba(100, 29, 182, 0.685);
    color: white;
    height: 40vh;
    width: 30vw;
    padding-top: 30px;
    /* padding-bottom: 30px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper button {
    background-color: #4b0090;
    color: white;
    margin-bottom: 10px;
    border: unset;
    outline: unset;
    padding: 0.8em 5em;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 20px;
    margin-top: 20px;
    
}


.login-wrapper button:hover {
    background-color:  #3dd65e;
    color: white;
    cursor: pointer;
    
}
